/hollymovies/secret_key.py
db.sqlite3
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/m11_backend_technologies.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
