{% extends "base.html" %}

{% block content %}
    Filtr: všichni, herci, režiséři
    <h1>Tvůrci</h1>
        <ul>
        {% for creator in creators %}
            <li><a href="{% url 'creator' creator.id %}">{{ creator }}</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'creator_update' creator.id %}">✏️</a>
                    <a href="{% url 'creator_delete' creator.id %}">❌</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
{% endblock %}