{% extends "base.html" %}

{% block content %}
<h1>{{ movie.title_orig }}</h1>
<div class="movie-title-cz">{{ movie.title_cz }} </div>
<div class="movie-images">
    {% for image in movie.images.all %}
        <span class="movie-image">
            <a href="{% url 'image' image.id %}">
                <img src="{{ image.image.url }}" alt="{{ image.description }}" width="150px">
            </a>
        </span>
    {% endfor %}
</div>
<div class="movie-details">
    <div class="movie-genres">
        <strong>Žánry:</strong>
        {% for genre in movie.genres.all %}
            <a href="{% url 'genre' genre.id %}">{{ genre }}</a>{% if not forloop.last %},{% endif %}
        {% empty %}
            Tento film nemá žádný žánr.
        {% endfor %}
    </div>

    <div class="movie-coutries">
        <strong>Země:</strong>
        {% for country in movie.countries.all %}
            {{ country }}{% if not forloop.last %},{% endif %}
        {% empty %}
            Tento film nemá žádnou zemi.
        {% endfor %}
    </div>

    <div class="movie-directors">
        <strong>Režie:</strong>
        {% for creator in movie.directors.all %}
            <a href="{% url 'creator' creator.id %}">{{ creator }}</a>{% if not forloop.last %},{% endif %}
        {% empty %}
            Tento film nemá žádného režiséra.
        {% endfor %}
    </div>

    <div class="movie-actors">
        <strong>Hrají:</strong>
        {% for creator in movie.actors.all %}
            <a href="{% url 'creator' creator.id %}">{{ creator }}</a>{% if not forloop.last %},{% endif %}
        {% empty %}
            Tento film nemá žádného herce.
        {% endfor %}
    </div>

    <div class="movie-length">
        <strong>Délka:</strong> {{ movie.length_format }}
    </div>

    <div class="movie-released">
        <strong>Rok:</strong> {{ movie.released }}
    </div>

    <div class="movie-rating">
        <strong>Hodnocení:</strong> {{ movie.rating }}
    </div>

    <div class="movie-description">
        <strong>Popis:</strong> {{ movie.description }}
    </div>

    {% if perms.viewer.change_movie %}
        <a href="{% url 'movie_update' movie.id %}" class="btn btn-primary">Aktualizovat</a>
    {% endif %}
    {% if perms.viewer.delete_movie %}
        <a href="{% url 'movie_delete' movie.id %}" class="btn btn-danger">Smazat</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <table>{{ form_review }}</table>
            <button type="submit">Odeslat</button>
        </form>
    {% endif %}

    {% if movie.reviews.all %}
        <div class="movie-reviews">
            {% for review in movie.reviews.all %}
                <div class="movie-review bg-light rounded mt-2 p-2 position-relative">
                    <div class="movie-review-user-box">
                        <span class="movie-review-user">
                            Uživatel: {{ review.user }}
                        </span>
                        <span class="movie-review-created font-italic text-secondary">
                            {{ review.created|date:'d. m. Y H:i' }}
                        </span>
                        {% if review.updated != review.created %}
                            <span class="movie-review-updated font-italic text-secondary">
                                (edit {{ review.updated|date:'d. m. Y H:i' }})
                            </span>
                        {% endif %}
                    </div>
                    <div class="movie-review-rating">
                        Hodnocení: {{ review.rating }}
                    </div>
                    <div class="movie-review-text">
                        Komentář: {{ review.text }}
                    </div>
                    {% if request.user == review.user.user %}
                        <a href="{% url 'review_delete' review.id %}" class="position-absolute" style="top: 10px; right: 10px;">❌</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}