{% extends "base.html" %}

{% block content %}
    Filtr dle žánru: <a href="{% url 'movies' %}">Všechny</a>,
    {% for genre in genres %}
        <a href="{% url 'genre' genre.id %}">{{ genre }} ({{ genre.movies.count }})</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <h1>
        Filmy
        {% if genre %}
            žánru {{ genre }}
        {% endif %}
    </h1>
        <ul>
            {% for movie in movies %}
                <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}