{% extends "base.html" %}

{% block title %}
Filmy
{% endblock %}

{% block content %}
    Filtr dle žánru: <a href="{% url 'movies' %}">Všechny</a>,
    {% for genre in genres %}
        {% if genre.movies.count %}
            <a href="{% url 'genre' genre.id %}">{{ genre }} ({{ genre.movies.count }})</a>{% if not forloop.last %}, {% endif %}
        {% endif %}
    {% endfor %}
    <br>

    Filtr dle země: <a href="{% url 'movies' %}">Všechny</a>,
    {% for country in countries %}
        {% if country.movies.count %}
            <a href="{% url 'country' country.id %}">{{ country }} ({{ country.movies.count }})</a>
        {% endif %}
    {% endfor %}
    <h1>
        Filmy
        {% if genre %}
            žánru {{ genre }}
        {% endif %}
        {% if country %}
            země {{ country }}
        {% endif %}
    </h1>
        <ul>
            {% for movie in movies %}
                <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}