<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="/">HollyMovies</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}">Domů</a>
                <a class="nav-item nav-link active" href="{% url 'movies' %}">Filmy</a>
                <a class="nav-item nav-link active" href="{% url 'creators' %}">Tvůrci</a>

                {% comment "TODO: actors"%}
                <a class="nav-item nav-link active" href="{% url 'actors' %}">Herci</a>
                {% endcomment %}

            </div>

            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    {% if perms.viewer.add_creator or perms.viewer.add_movie %}
                        <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                            Přidat
                        </a>
                        <div class="dropdown-menu">
                            {% if perms.viewer.add_creator %}
                                <a class="dropdown-item" href="{% url 'creator_create' %}">tvůrce</a>
                            {% endif %}
                            {% if perms.viewer.add_movie %}
                                <a class="dropdown-item" href="{% url 'movie_create' %}">film</a>
                            {% endif %}
                            {% if perms.viewer.add_genre %}
                                <a class="dropdown-item" href="{% url 'genre_create' %}">žánr</a>
                            {% endif %}
                            {% if perms.viewer.add_country %}
                                <a class="dropdown-item" href="{% url 'country_create' %}">zemi</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    {% if user.is_staff %}
                        <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                            ADMIN
                        </a>
                        <div class="dropdown-menu">
                            {% if perms.viewer.view_genres %}
                                <a class="dropdown-item" href="{% url 'genres' %}">seznam žánrů</a>
                            {% endif %}
                            {% if perms.viewer.view_countries %}
                                <a class="dropdown-item" href="{% url 'countries' %}">seznam zemí</a>
                            {% endif %}
                            {% if perms.viewer.view_profiles %}
                                <a class="dropdown-item" href="{% url 'profiles' %}">seznam profilů</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item text-right" href="{% url 'logout' %}">Odhlásit</a>
                        <a class="dropdown-item text-right" href="{% url 'password_change' %}">Změnit heslo</a>
                        <a class="dropdown-item text-right" href="{% url 'password_reset' %}">Resetovat heslo</a>
                    </div>
                {% else %}
                    <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                        Nepřihlášený uživatel.
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item text-right" href="{% url 'login' %}">Přihlásit</a>
                        <a class="dropdown-item text-right" href="{% url 'signup' %}">Registrovat</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>